* {box-sizing: border-box; padding: 0;margin: 0; color: inherit; font-family: sans-serif; } 
ul { list-style: none;}
button { background-color: transparent; border: none; cursor: pointer;}
a {text-decoration: none;}
input {outline: none; border: none; cursor: pointer; }
input[type="text"] { background: var(--secondary-bg-color);}
textarea { background: var(--secondary-bg-color); }

body, aside, main, section, header {transition: all .25s;}
.flex { display: flex;}
.flex-1 { flex: 1}
.flex-col { flex-direction: column;}
.gap-1 {gap: 1rem}
.gap-2 {gap: 2rem}
.gap-3 {gap: 3rem}
.gap-4 {gap: 4rem}
.gap-5 {gap: 5rem}
.gap-6 {gap: 6rem}
.rel {position: relative;}
.abs {position: absolute;}
.none {display: none !important;}
.block { display: block !important}
.block { display: block;}
.ml-auto {margin-left: auto;}
.mr-auto {margin-right: auto;}
.mt-auto {margin-top: auto;}
.container {max-width: 1440px;}
.h-full {height: 100%;}
.i-center {align-items: center;}
.j-center {justify-content: center;}
.pointer {cursor: pointer;}
.text-center { text-align: center; }

.border {border: 1px solid var(--border-color)}
.debug {border: 1px solid black;}
.opacity-0 {opacity: 0;}
.opacity-1 {opacity: 1;}

/* add light-theme */
body {
  --secondary-bg-color: #fff; 
  --text-low-contrast: #828fa3;
  --text-high-contrast: #333;
  --primary-light: #625fc73f;
  --primary: #635fc7;
  --workspace-bg-color: #f4f7fd;
  --scroll-track: #f4f7fd;
  --scroll-thumb: #d1d1ee;
  --border-color: #e4ebfa;
  --todo-shadow:#d8dff1;
  --todo-hover-color: rgb(245, 245, 245);
  --bg-transparent: #ffffffc6;

  background-color: var(--workspace-bg-color);
  color: var(--text-high-contrast);
}

body.dark {
  --todo-shadow: rgb(24, 24, 24);
  --todo-hover-color: rgba(19, 18, 18, 0.267);
  --bg-transparent: rgba(19, 18, 18, 0.267);
  --workspace-bg-color: #20212C;
  --scroll-track: #20212C;
  --scroll-thumb: #11112448;
  --border-color: #313142;
  --primary: #635fc7;
  --secondary-bg-color: #2B2C37;
  --text-high-contrast: #fff;
  --text-low-contrast: #828fa3;
  background-color: var(--workspace-bg-color);
  color: var(--text-high-contrast);
}

body.dark .slider { transform: translateX(27px);}
.slider {transition: all .25s}

header { height: 90px; background-color: var(--secondary-bg-color); }
header .logo { display: flex; align-items: center; min-width: 300px; padding: 1rem 1.5rem; height: 100%; border: 1px solid var(--border-color);}
header .wrapper { border-bottom: 1px solid var(--border-color); padding: 1rem 2rem; display: flex; align-items: center;}  

.workspace {width: 100%;}

aside { color: var(--text-low-contrast); background-color: var(--secondary-bg-color); min-width: 300px; padding: 1rem 1.5rem; padding-bottom: 4rem; padding-right: 2rem; border-right: 1px solid var(--border-color); height: calc(100dvh - 90px); padding-left: 0;}
aside .total-workspaces {padding-left: 1.5rem; padding-bottom: 1rem;}
aside .nav > li {display: flex; align-items: center; padding: 1rem; padding-left: 1.5rem; border-bottom-right-radius: 30px; border-top-right-radius: 30px; transition: all .25s;}
aside .nav > li.active { color: var(--workspace-bg-color); background-color: var(--primary);}
.dark aside .nav > li.active { color: var(--text-high-contrast); background-color: var(--primary);}

aside .nav > li:hover { cursor: pointer; color: var(--primary); background-color: var(--primary-light);}
aside .nav > li svg { margin-right: 1rem;}
aside .nav > li a {flex: 1}
aside .create-new-workspace {margin-left: 1.5rem; display: inline-block; font-size: 1rem; margin-top: 1rem; transition: all .25s;}
aside .create-new-workspace:hover {color: var(--primary);}
aside .create-new-workspace svg { margin-right: 1rem; }
aside .hide-sidebar {color: var(--primary); font-size: 1.2rem;}
aside .controls-wrapper { padding-left: 1rem; margin-bottom: 1rem;}
aside .controls-wrapper .theme-toggle { padding: 1rem; background-color: var(--workspace-bg-color);}
aside .controls-wrapper .theme-toggle .toggle {background-color: var(--primary); height: 25px; width: 55px; border-radius: 30px; padding: 4px 6px; cursor: pointer;}
aside .controls-wrapper .theme-toggle .toggle > .slider {background-color: var(--secondary-bg-color); height: 17px; width: 17px; border-radius: 50%;}
aside .conditional-render { width: 240px; display: flex; gap: 10px; flex-direction: column;} 
aside .conditional-render input[type="text"] { padding: 5px; font-size: 1rem; }
aside .conditional-render .create-workspace { width: max-content; background-color: var(--primary); padding: .5rem 1rem; color: var(--secondary-bg-color); } 


main { height: calc(100dvh - 90px); padding: 1rem; display: flex; overflow-x: scroll; flex-wrap: nowrap; gap: 1rem;}
main .section-container { max-width: 275px;}
main .section { cursor: grab; border-radius: 10px; min-width: 275px; padding: 1rem; color: var(--text-high-contrast); height: max-content; background-color: var(--secondary-bg-color); box-shadow: 0 2px 6px var(--todo-shadow);}
main .section .actions {cursor: pointer; width: 1.25rem; height: 1.25rem;}
main .section .section-body { min-height: 30px; margin-top: 1rem; display: flex; flex-direction: column; gap: 1rem;}
main .section .section-body .todo { word-break: break-word; cursor: pointer; font-size: 15px; box-shadow: 0 2px 6px var(--todo-shadow); display: flex; align-items: center; padding: 10px; border-radius: 10px; width: 100%; min-height: 36px; border: 1px solid var(--border-color);}
main .section .section-body .todo:hover {background-color: var(--todo-hover-color);}
main .section .section-body .todo:hover .icon {display: block;}
main .section .section-body .todo .icon { border-radius: 5px; transform: translateY(-50%); display: none; position: absolute; right: 10px; top: 50%; width: 25px; height: 25px; padding: 6px;}
main .section .section-body .todo .icon:hover {background-color: rgb(224, 224, 224);}
.dark main .section .section-body .todo .icon:hover {background-color: var(--bg-transparent);}
main .section .section-body .todo .icon svg {display: block;}
main .section .create-todo {margin-top: 1rem; color: var(--text-low-contrast); cursor: pointer; font-size: 15px; display: flex; align-items: center; padding: 10px; border-radius: 10px; width: 100%; height: 30px;}
main .section .create-todo:hover {background-color: var(--todo-hover-color);}
main .section .create-todo span {font-size: 27px; margin-right: 5px}

.is-dragging { background-color: var(--text-high-contrast) !important; color: var(--workspace-bg-color) !important; scale: 1.05; }
.dark .is-dragging { background-color: var(--bg-transparent) !important; color: var(--primary) !important; scale: 1.05; }
.is-dragging .todo {box-shadow: none !important}


.conditional-render {cursor: pointer; min-width: 220px;}
.conditional-render input {padding: 3px; border-radius: 5px; width: 100%; border: none; outline: none;}
.conditional-render input:focus { box-shadow:0 0 1px inset var(--primary-light); outline: 2px solid var(--primary);}
.workspace-title-conditional-render input { font-size: 1.5rem ; width: 275px; }

.create-todo-conditional-render {width: 100%; margin-top: 1rem;}
.create-todo-conditional-render form {width: 100%;}
.create-todo-conditional-render form textarea {width: 100%; resize: none; height: 60px;border-radius: 10px; padding: 8px; border: none; outline: none; }
.create-todo-conditional-render form textarea:focus {box-shadow:0 0 1px inset var(--primary-light); outline: 2px solid var(--primary);}
.create-todo-conditional-render form input[type="button"] { background-color: var(--primary); padding: .5rem 1rem; color: var(--secondary-bg-color); top: 115%; left: 0; border-radius: 3px; width: 100px;}
.create-todo-conditional-render form button{padding: 10px;}
.create-todo-conditional-render form button svg {width: 18px; height: 18px; transform: translateY(3px);}

dialog { border: none; border-radius: 10px; height: 500px; width: 500px; background-color: rgba(0, 0, 0, 0.732);}

.hide {transform: translateX(-100%); display: none;}

.backdrop {inset: 0; background-color:  rgba(0, 0, 0, 0.7); z-index: 2;}

.edit-todo-dialog form {width: 100%; height: 100%;}
.edit-todo-dialog form textarea {width: 100%; height: 100%; border-radius: 10px; padding: 10px; overflow: hidden; resize: none; border: none; outline: none;}
.edit-todo-dialog form textarea:focus { box-shadow:0 0 1px inset var(--primary-light); outline: 2px solid var(--primary); }
.edit-todo-dialog form input[type="submit"] {background-color: var(--primary); padding: .5rem 1rem; color: var(--secondary-bg-color); top: 115%; left: 0; border-radius: 3px;}
.dark .edit-todo-dialog form input[type="submit"] {color: white !important }
.edit-todo-dialog form .controls { left: 105%; top: 0; display: flex; flex-direction: column; gap: 10px;}
.edit-todo-dialog form .controls button { transition: all .25s; border-radius: 3px; background-color:  rgba(0, 0, 0, 0.6); color: white; padding: 5px 8px; white-space: nowrap;}
.edit-todo-dialog form .controls button:hover { transform: translateX(5px); background-color: rgba(0, 0, 0, 0.8); }     

.create-new-section { min-width: 275px; background-color: var(--secondary-bg-color); cursor: pointer; font-size: 15px; box-shadow: 0 2px 6px var(--todo-shadow); display: flex; align-items: center; padding: 10px; border-radius: 3px; height: 36px; width: 275px; border: 1px solid var(--border-color);}
.create-new-section .new-section-form { transition: all .2s; left: 0; top: 3%; height: 100%; overflow: hidden; width: 100%; border-radius: 3px; padding: 10px; z-index: 1; background-color: var(--secondary-bg-color);}
.create-new-section .new-section-form input {margin-top: 1px; font-size: 15px; width: 100%; padding: 5px;  background: var(--secondary-bg-color)}
.create-new-section .new-section-form input:focus {box-shadow:0 0 1px inset var(--primary-light); outline: 2px solid var(--primary);}
.grow {height: 90px; transition: all .2s;}
.create-new-section { color: var(--text-low-contrast);}
.create-new-section span { font-size: 27px; margin-right: 5px;}
.create-new-section form input[type="button"] { margin-top: 10px; background-color: var(--primary); width: 100px; color: var(--secondary-bg-color); top: 115%; left: 0; border-radius: 3px;}

.dark input[type="submit"] {color: white !important }
.dark input[type="button"] {color: white !important }

.show-aside { left: 0; bottom: 50px; cursor: pointer; color: white; background-color: var(--primary); display: flex; align-items: center; padding: 1rem; padding-left: 1.5rem; border-bottom-right-radius: 30px; border-top-right-radius: 30px; transition: all .25s;}

.workspace-backdrop {inset: 0; z-index: 10;}
.workspace-backdrop .actions-popup { cursor: default; box-shadow: 0 2px 6px var(--todo-shadow);  background-color: var(--secondary-bg-color); width: 275px; position: absolute; right: 50px; top: 50px; padding: 1rem;  }
.workspace-backdrop .actions-popup li {cursor: pointer;}
.workspace-backdrop .actions-popup li:hover {background-color: var(--bg-transparent);}
.workspace-backdrop .actions-popup li:last-of-type {color: rgb(255, 138, 138);}

.section-backdrop { top: 0; left: 0; bottom: 0; right: 0; z-index: 10; position: absolute;}
.section-backdrop .actions-popup { cursor: default; box-shadow: 0 2px 6px var(--todo-shadow); background-color: var(--secondary-bg-color); width: 275px; z-index: 1; padding: 1rem;}
.section-backdrop .actions-popup ul { margin-top: 10px; color: var(--text-low-contrast); padding-top: 10px;  border-top: 1px solid var(--border-color);}
.section-backdrop .actions-popup ul li {cursor: pointer;}
.section-backdrop .actions-popup ul li:last-child {color: rgb(255, 138, 138);}
.section-backdrop .actions-popup  textarea {width: 100%; height: 100%; border-radius: 10px; padding: 10px; overflow: hidden; resize: none; border: none; outline: none;}
.section-backdrop .actions-popup  textarea:focus {box-shadow:0 0 1px inset var(--primary-light); outline: 2px solid var(--primary);  }
/* .section-backdrop .copy-section-view {}
.section-backdrop .copy-section-view h4 {border-bottom: 1px solid var(--border-color); padding-bottom: 10px;} */
.section-backdrop .copy-section-view label {margin: 10px  0; display: block;}

.sub-section { min-height: max-content; position: absolute; inset: 0; padding: 1rem; background-color: var(--secondary-bg-color);}
.sub-section h4 { border-bottom: 1px solid var(--border-color); padding-bottom: 10px; margin-bottom: 10px;}
.sub-section .back {width: 20px; height: 20px; cursor: pointer; }
.sub-section .back svg {width: 100%; height: 100%;}
.sub-section input[type="button"] { margin-top: 10px; background-color: var(--primary); padding: .5rem 1rem; color: var(--secondary-bg-color); border-radius: 3px; width: max-content;}
.sub-section select { color: var(--text-low-contrast); border: none; cursor: pointer; outline: none; background-color: var(--workspace-bg-color); height: 100px; padding: 5px; padding-top: 1rem;}
.sub-section select:hover {background-color: var(--border-color);}
.move-section-view .con {gap: 10px;} 
.move-section-view::before { position: absolute; content: 'workspace'; top:58px; left: 25px; color: var(--primary); font-size: 11px; }
.move-section-view::after { position: absolute; content: 'section'; top: 107px; left: 25px; color: var(--primary); font-size: 11px; }

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scroll-track);
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--scroll-thumb)
}